 ul{

     background-color: #dddddd;
     list-style-type:none;
     display:block;
     margin:0px;
     padding:0px;
     overflow:hidden;

 }


 li {
     float: right;
     text-align: center;
     padding: 14px 16px;

 }

 a {
     display: block;
     padding: 20px;
     text-decoration: none;
 }


 p{
     background-image: url("img1.png");

 }

