*{
    padding:0px;
    margin:0px;
} 

.header{
    background-image: url('https://images.unsplash.com/photo-1577717903315-1691ae25ab3f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
     /* background-image: url("..img/img1.png"); */
     width: 100%;
     height: 100vh;

     background-size: cover;
 }

 .check-bookings{
     

     background-color: white;
     width: 100%;
     height: 75vh;

     background-size: cover;
 }
 .idk{
     background-color: black;
     width: 100%;
     height: 100vh;

     background-size: cover;

 }

 .footer{

     background-color: #13284A;
     width: 100%;
     height: 25vh;
     color:white;

     position: relative;
 }

 .logo{
     position: absolute;
     top:30%;
     left:5%;

 }
.stuff{
    position: absolute;
     top:30%;
     left:30%;

 }

 .stuff li{
     text-align:left;
    padding: 5px 10px;
 }
 
.socials{
    position: absolute;
     top:30%;
     left:55%;

 }

 .socials li{
     text-align:left;
    padding: 5px 10px;
 }



 /* .subscribe{ */
 /* } */
 /**/


            .input-group {
                position: absolute;
                top:30%;
                left:75%;
                display: flex;
                align-items: center;
            }

            .input {
              min-height: 50px;
              max-width: 150px;
              padding: 0 1rem;
              color: #fff;
              font-size: 15px;
              border: 1px solid #5e4dcd;
              border-radius: 6px 0 0 6px;
              background-color: transparent;
            }

            .button--submit {
              min-height: 50px;
              padding: .5em 1em;
              border: none;
              border-radius: 0 6px 6px 0;
              background-color: #5e4dcd;
              color: #fff;
              font-size: 15px;
              cursor: pointer;
              transition: background-color .3s ease-in-out;
            }

            .button--submit:hover {
              background-color: #5e5dcd;
            }

            .input:focus, .input:focus-visible {
              border-color: #3898EC;
              outline: none;
            }





 .navbar{
    font-family:"Croissant One", Verdana, Geneva, Tahoma, sans-serif;

 }

ul{

     /* background-color: #dddddd; */
     list-style-type:none;
     display:block;
     overflow:hidden;

 }

.navbar li {   

    float: right;
    text-align: center;
    padding: 5px 10px;

 }

 .navbar a {
     display: block;
     padding: 30px;
     text-decoration: none;

 }




