h2 {
    height: 10vh;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size:60px ;
    /* color: #36454F ;     */
}

.bookingContainer {
    display: flex;
}

.infoContainer {
    height: 90vh;
    width: 75%;
}

.roomPics {
    height: 90vh;
    display: flex;
    /* flex-direction: column; */
    overflow-y: auto;
}
