h2 {
  height: 10vh;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 60px;
  /* color: #36454F ;     */
}

.bookingContainer {
  display: flex;
  height: 150vh;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: center;

  /* border: 10px solid blue; */
}

.infoContainer {
  height: 90vh;
  width: 70%;

  /* border: 20px solid red; */
}

.roomPics {
  height: 90vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow-y: auto hidden;
  justify-content: center;
  overflow: hidden;

  /* border: 10px solid green; */
}
