h2 {
    height: 15vh;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size:60px ;
    color: #36454F ;    
}

.bookingsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 85vh;
}