*{
    padding:0px;
    margin:0px;
} 

.header{
    background-color: #09253A;
    width: 100%;
    height: 10vh;

}

ul{
    list-style-type:none;
    display:block;
    overflow:hidden;

}

li {
    margin-top: 25px;
    float: left;
    text-align: center;
    padding: 5px 10px;
    font-size: 18px;
}
