* {
  padding: 0px;
  margin: 0px;
}

.solidnavbar-header {
  background-color: #09253a;
  width: 100%;
  height: 10vh;
}

.solidnavbar-header ul {
  list-style-type: none;
  display: block;
  overflow: hidden;
}

.solidnavbar-header li {
  margin-top: 25px;
  float: left;
  text-align: center;
  padding: 5px 10px;
  font-size: 18px;
}
