#careers-heading {
  color: #01579b;
  position: relative;
}

#career-paragraph {
  color: #505050;
  position: relative;
  /* margin-top: 20%; */
  /* margin-bottom: 80%; */
}
#careers-heading {
  color: #01579b;
  position: relative;
  margin-top: 6em;
}

#career-paragraph {
  color: #505050;
  position: relative;
  margin-top: 3em;
}

#careers-featured-roles {
  position: relative;
  color: black;
  /* margin-top:6em; */
}

#careers-roles {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #505050;
}

#careers-form {
}

.flex-container-form {
  display: flex;
  flex-direction: row;
  margin-top: 6em;
}

.name-form {
  /* width:10em;
    height:3em;
    margin: 0 1em 0 1em; */
}

.name-form:placeholder {
  position: absolute;
  width: 75px;
  height: 26px;
  left: 976px;
  top: 425px;

  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #505050;
  opacity: 0.5;
  text-align: center;
}

#last-name-form {
  position: absolute;
}

.flex-item {
  flex: 1;
}

#table-email {
  width: 100%;
}

#careers-table {
}

input[type="text"] {
  width: 100%;
}

/* input[type=button]{
    width:100%;
    
} */

.form-textbox {
  width: 100%;
  height: 45px;
  top: 415px;
  left: 970px;
  border-radius: 5px;
  font-family: "Baloo 2", sans-serif;
  font-size: 16px;
  margin: 0.5em;
  background-color: #d9d9d980;
  border: 0px;
  color: #505050;
}

.form-above-button {
  color: #505050;
  font-size: 12px;
}

.form-choose-a-file {
  width: 100%;
  height: 3.5em;
  top: 625px;
  left: 970px;
  border-radius: 5px;
  border-color: #01579b;
  background-color: white;
  color: #01579b;
}

.form-apply {
  margin-top: 3em;
  width: 10em;
  height: 45px;
  top: 774px;
  left: 970px;
  border-radius: 5px;
  background-color: #01579b;
  color: white;
  border: 0px;
  font-family: "Rubik", sans-serif;
  font-size: 0.8em;
}

table {
  width: 35em;
}

#first-name-form {
  width: 95%;
}

#last-name-form {
  width: 95%;
  float: right;
}

#career-body {
  margin: 10%;
}

#entire-career {
  margin: 0;
  background-color: white;
}

.form-dropdown {
  opacity: 50%;
}
