.container {
    
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.container img{
    height: 190px;
    width: 350;
    border-radius: 20px;
    align-content: center;
}


.container p{
    font-family: 'Inter', sans-serif;
    font-size: larger;
    text-align: center;
    margin: 0;
}
