.bookings-h2 {
  height: 10vh;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 60px;
  /* color: #36454F ;     */
}

.bookingContainer {
  display: flex;
  height: 90vh;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;

  border: 2px solid red;
}

.roomPics {
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto hidden;
  justify-content: center;
  overflow: hidden;
}

#checkout {
  padding: 18px;
  border-radius: 10px;
}

.checkout {
  display: flex;
}

.move {
  width: 90%;
}

.move2 {
  width: 10vh;
  text-align: right;
}
