
.form-box-container {
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 50px solid green; */
}

.box-container {
    margin-right: 50px;
}

.contact-box {
  background-color: #faf9f8;
  width: 250px;
  height: 80px;
  border: 10px solid white; /* Specify border width and style */
  padding: 10px;
  padding-left: 15px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  /* border: 50px solid purple; */
}

.header-contact {
  width: 100%;
  height: 65vh;

  background-image: url("https://images.unsplash.com/photo-1570288685280-7802a8f8c4fa?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW9ua2V5JTIwbWVtZXxlbnwwfHwwfHx8MA%3D%3D");
  background-position: top;
  background-size: cover;

  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

 .h3-cbox,.h6-cbox{

     padding:5px;
}

.h3-cbox{
    color:#9C8E74;
}
